html {
    background: black;
    color: rgb(39, 160, 65);
}

body {
    width: 80%;
    height: 100vh;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

img {
    margin-left: 25px;
    background: rgb(13, 220, 70);
    border-radius: 100%;
    padding: 10px;
    width: 40px;
    height: 40px;
}

header img:hover {
    transition: transform 0.2s ease-in;
    transform: rotate(180deg);
    width: 45px;
    height: 45px;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row: 1/3;
    grid-column: 1/6;
    border-bottom: 2px solid rgb(20, 20, 30);
    border-left: 2px solid rgb(20, 20, 30);
    border-right: 2px solid rgb(20, 20, 30);
    align-items: center;
}

#sigint {
    font-size: 19px;
    justify-self: center;
}

#secure {
    font-size: 16px;
    justify-self: end;
    border: 1px solid rgb(66, 121, 80);
    border-radius: 50px;
    background: rgb(10, 34, 15);
    width: 170px;
    height: 25px;
    text-align: center;
    align-content: center;
    margin-right: 25px;
}

#secure:hover {
    background: rgb(13, 69, 20);
}

main {
    display: grid;
    grid-column: 1/6;
    grid-row: 4/31;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.circle {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-row: 1/9;
    grid-column: 2/30;
    background: rgb(20, 15, 30);
    border: 2px solid rgb(28, 29, 34);
    border-radius: 20px;
}

.circle:hover {
    border: 2px solid rgb(0, 220, 63);
}

.radar {
    grid-row: 2/10;
    grid-column: 2/7;
    overflow: hidden;
    width: 248px;
    height: 248px;
    border-radius: 50%;
    border: 2px solid rgb(57, 174, 82);
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
        inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
    background:
        linear-gradient(transparent 49.75%, rgb(20, 51, 35) 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(90deg, transparent 49.75%, rgb(20, 51, 35) 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(#333, #111);
}

.sweep {
    box-sizing: border-box;
    top: 16px;
    left: 16px;
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 108px;
    height: 108px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(201, 24, 24, 0) 50%, rgb(10, 110, 40));
    animation: sweep 5s infinite linear;
}

@keyframes sweep {
    to {
        transform: rotate(360deg);
    }
}

.point {
    font-size: 30px;
}

.po1 {
    grid-row: 6;
    grid-column: 3;
    justify-self: center;
}

.po2 {
    grid-column: 4;
    grid-row: 4;
    justify-self: center;
}

.po3 {
    grid-column: 4;
    grid-row: 7;
    justify-self: end;
}

.num {
    color: rgb(62, 204, 94);
    font-size: 35px;
    justify-self: center;
}

.text {
    font-size: 12px;
    color: rgb(92, 91, 101);
}

.n24 {
    grid-column: 14/15;
    grid-row: 4;
}

.tac {
    grid-column: 14/16;
    grid-row: 5;
    align-self: center;
}

.n07 {
    grid-row: 6;
    grid-column: 14;
}

.trp {
    grid-row: 7;
    grid-column: 14/16;
    align-self: center;
}

#point0 {
    grid-row: 6;
    grid-column: 14;
    align-self: center;
    padding-left: 17.5px;
}

.bolt {
    color: rgb(178, 178, 188);
}

.menu {
    color: rgb(157, 159, 176);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-row: 10/12;
    grid-column: 2/30;
}

.menu-btn {
    background: rgb(16, 15, 30);
    height: 50px;
    border: 2px solid rgb(24, 24, 34);
    border-radius: 50px;
    display: grid;
    place-items: center;
}

.brief {
    width: 120px;
}

.code {
    width: 130px;
}

.plane {
    width: 180px;
}

.saction {
    grid-row: 12/17;
    grid-column: 2/30;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.box {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background: rgb(16, 15, 30);
    height: 120px;
    width: 310px;
    border: 2px solid rgb(24, 24, 34);
    border-radius: 20px;
    justify-self: start;
    justify-items: center;
}

.critical {
    border-left: 2px solid rgb(18, 198, 74);
}

.card-label{
    grid-row: 2/4;
    grid-column: 2/5;
    font-size: 15px;
    padding: 7px;
    border-radius: 5px;
}

.card-critical {
    background: rgb(65, 25, 45);
    color: rgb(162, 38, 77);
    border: 1px solid rgb(125, 34, 67);
}

.card-status {
    grid-row: 2/4;
    grid-column: 8/11;
    justify-self: start;
    color: rgb(81, 78, 93);
    font-size: 14px;
}

.prog {
    accent-color: rgb(0, 220, 63);
    grid-row: 7;
    grid-column: 2/9;
    justify-self: start;
}

.percent {
    grid-row: 7;
    grid-column: 8;
}

.high {
    border-left: 2px solid rgb(239, 186, 45);
}

.card-high {
    background: rgb(64, 50, 13);
    color: rgb(177, 123, 17);
    border: 1px solid rgb(148, 124, 77);
}

.card-desc {
    color: rgb(140, 147, 161);
    grid-row: 5/5;
    grid-column: 2/7;
    justify-self: start;
}

.medium {
    border-left: 2px solid rgb(27, 156, 49);
}

.card-medium {
    background: rgb(0, 74, 20);
    color: rgb(38, 165, 71);
    border: 1px solid rgb(40, 128, 68);
}

.high2 {
    border-left: 2px solid rgb(228, 175, 37);
}

.card-high2 {
    background: rgb(61, 50, 25);
    color: rgb(172, 131, 24);
    border: 1px solid rgb(152, 122, 77);
}

#th {
    color: rgb(202, 59, 90);
}